@page
@model AddCollectionModel
@Html.ValidationSummary()
@{
    ViewData["Title"] = "Add Collection";
}
<h1>@ViewData["Title"]</h1>
</br>
<body>

@using (Html.BeginForm("OnPost", "AddCollection", FormMethod.Post, new { id = "COLL_DE" }))
{
    <div class="row">
        <div class="col-lg-2">Collection Name</div>
        <div class="col-lg-10">
            @Html.TextBoxFor(a => a.CollectionName, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-2">Description</div>
        <div class="col-lg-10">
            @Html.TextAreaFor(a => a.Description, new { @class = "form-control", @rows = 3})
        </div>
    </div>
    @* <br /> 
    <div class="row">
        <div class="col-lg-2">Pieces in Collection</div>
        <div class="col-lg-10">
            @Html.TextBoxFor(a => a.ListOfPieces, new { @class = "form-control" })
        </div>
    </div> *@
    <br />
    @* <div class="row"> *@
    <input type="submit" value="Submit" class="btn btn-primary">
    <a asp-page="/Collections" asp-area="" button type="button" class="btn btn-outline-danger m-1">Cancel</a>
}

</body>