@page
@model AddExhibitionModel
@{
    ViewData["Title"] = "Add Exhibition";
}
<h1>@ViewData["Title"]</h1>

<body>

@using (Html.BeginForm("Exhibition_DE", "AddExhibition", FormMethod.Post, new { id = "EXHIB_DE" }))
{
    <div class="row">
        <div class="col-lg-2">Exhibition Name</div>
        <div class="col-lg-10">
            @Html.TextBoxFor(a => a.ExhibitionName, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-2">Description</div>
        <div class="col-lg-10">
            @Html.TextBoxFor(a => a.Description, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-2">Pieces in Exhibition</div>
        <div class="col-lg-10">
            @Html.TextBoxFor(a => a.ListOfPieces, new { @class = "form-control" })
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-lg-2">Arranger</div>
        <div class="col-lg-10">
            @Html.TextBoxFor(a => a.Arranger, new { @class = "form-control" })
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-lg-2">Location</div>
        <div class="col-lg-10">
            @Html.TextBoxFor(a => a.Location, new { @class = "form-control" })
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-lg-2">End Date</div>
        <div class="col-lg-10">
            @Html.TextBoxFor(a => a.DateEnd, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-12"><input type="submit" value="Submit" class="btn btn-primary"></div>

    </div>
}

</body>