@page
@model AddMemberModel

@{
    ViewData["Title"] = "Add Member";
}

<html>
    <body>
        <form method = "post">
            <legend>@ViewData["Title"]</legend>
            <p><label>First Name:</label>
                @Html.TextBoxFor(m => m.firstName, new { @class = "form-control" })        
            </p>       

            <p><label>Last Name:</label>
                @Html.TextBoxFor(m => m.lastName, new { @class = "form-control" })        
            </p>

            <p><label>Card Number:</label>
                @Html.TextBoxFor(m => m.cardNumber, new { @class = "form-control" })        
            </p>

            <p><label>Last Visit:</label>
                @Html.TextBoxFor(m => m.lastVisit, new { @class = "form-control" })        
            </p>            

            <button type="submit">Add Member</button>
            <p><a asp-page="/Members" asp-area="" button type="button" class="btn btn-primary">See all Members</a></p>           
        </form>    
    </body>
</html>