@page
@model dt_team2.Pages.DataReportModel

@{
    string[] TableHeaders = new string[]{"TransactionID",
        "Date", "ItemLabel", "Price"};
    ViewData["Title"] = "Data Report";
}


<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
#ticketSalesDIV, #giftshopSalesDIV, #museumActivityDIV {
  width: 100%;
  padding: 10px 0px;
  text-align: left;
  background-color: lightblue;
  margin-top: 0px;
}

</style>

</head>

<h1>@ViewData["Title"]</h1>

<body>
    
    <button onclick="ticketSalesFunction()">Ticket Sales Report</button>

    <button onclick="giftshopSalesFunction()">Gift Shop Sales Report</button>

    <button onclick="museumActivityFunction()">Museum Activity Report</button>
    

    <div id="ticketSalesDIV" style="display: none;">
        <label>Ticket Sales Report:</label>

        <p><label for="ticketType">Ticket Type:</label>
            <div class="custom-select">
                <select>
                    <option value="0">Select Ticket Type</option>                                   
                </select>
            </div>
        </p>    

        <p><label for="accessType">Access Type:</label>
            <div class="custom-select">
                <select>
                    <option value="0">Select Access Type</option>                                   
                </select>
            </div>
        </p>    

        <p><label for="date">Ticket Sales From:</label>
                <input type="date" id="start" name="trip-start">

            <label for="date">To:</label>
                <input type="date" id="start" name="trip-start">      
        </p>

        <p><button type="submit" class="btn btn-secondary">Submit Request</button></p>     
    </div>

    <div id="giftshopSalesDIV" style="display: none;">
        @using (Html.BeginForm("GetReport", "DataReport", FormMethod.Post, new { id = "GETREPORT" }))
        {
            <form method = "post">
            <label>Gift Shop Sales Report:</label>
            <p><label for="Item">Item:</label>
                @Html.TextBoxFor(c => c.Item, new { @class = "form-control" })
                @*<input type="number" id="start" name="trip-start">*@    
            </p>
            <p><label for="DateFrom">Gift Shop Sales From:</label>
                @Html.TextBoxFor(c => c.DateFrom, new { @class = "form-control" })
                @*<input type="date" id="start" name="trip-start">*@

            <label for="DateTo">To:</label>
                @Html.TextBoxFor(c => c.DateTo, new { @class = "form-control" })
                @*<input type="date" id="start" name="trip-start">*@
            </p>
        
            <button onclick="ShopReport()">Gift Shop Report</button>
            @*<a asp-page="/ShopReport" asp-area="" button type="submit" class="btn btn-primary">Submit Request</a>*@
            @*<p><button type="submit" class="btn btn-secondary">Submit Request</button></p>*@
            </form>
        }
    </div>

    <div id="shopReportDIV" style="display: none;">
        <label>Report Result:</label>
        <table class ="table table-bordered table-hover">
            <thead>
                <tr>
                    @{
                        foreach(var head in TableHeaders)
                        {
                            <th>
                                @head
                            </th>
                        }    
                    }
                </tr>
            </thead>
            <tbody>
            @{
                if (Model != null)
                {
                    foreach(ReportOutput Data in DataReportModel.col_output)
                    {
                        <tr>
                            <td>@Data.TransactionID</td>
                            <td>@Data.Date</td>
                            <td>@Data.ItemLabel</td>
                            <td>@Data.Price</td>
                        </tr>
                    }
                }
            }
            </tbody>
        </table>
    </div>

    <div id="museumActivityDIV" style="display: none;">
        <label>Museum Activity Report</label>
        <p><label for="date">Museum Activity From:</label>
                <input type="date" id="start" name="trip-start">

            <label for="date">To:</label>
                <input type="date" id="start" name="trip-start">      
        </p>

        <p><button type="submit" class="btn btn-secondary">Submit Request</button></p> 
    </div>

</body>


<script>
    function ticketSalesFunction(){
        var x = document.getElementById("ticketSalesDIV");

        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function giftshopSalesFunction(){
        var x = document.getElementById("giftshopSalesDIV");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function museumActivityFunction(){
        var x = document.getElementById("museumActivityDIV");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function ShopReport(){
        var x = document.getElementById("shopReportDIV");
        if (x.style.display === "none") {
            x.style.display = "block";
        }
        /*else {
            x.style.display = "none";
        }*/
    }
</script>

