@page
@model EditExhibitionModel
@Html.ValidationSummary()
@{
    ViewData["Title"] = "Edit Exhibition";
}
<h1>@ViewData["Title"]</h1>
</br>
<body>

@using (Html.BeginForm("OnPost", "EditExhibition", FormMethod.Post, new { id = "EXHIB_DE" }))
{
    <div class="row">
        <div class="col-lg-2">Exhibition Name</div>
        <div class="col-lg-10">
            @Html.TextBoxFor(a => a.exhibition.ExhibitionName, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-2">Description</div>
        <div class="col-lg-10">
            @Html.TextAreaFor(a => a.exhibition.Description, new { @class = "form-control", @rows = 3})
        </div>
    </div>
    @* <br /> 
    <div class="row">
        <div class="col-lg-2">Pieces in Exhibition</div>
        <div class="col-lg-10">
            @Html.TextBoxFor(a => a.exhibition.ListOfPieces, new { @class = "form-control" })
        </div>
    </div> *@
    <br/>
    <div class="row">
        <div class="col-lg-2">Arranger</div>
        <div class="col-lg-10">
            @Html.TextBoxFor(a => a.exhibition.Arranger, new { @class = "form-control" })
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-lg-2">Location</div>
        <div class="col-lg-10">
            @Html.TextBoxFor(a => a.exhibition.Location, new { @class = "form-control" })
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-lg-2">End Date</div>
        <div class="col-lg-10">
            @Html.TextBoxFor(a => a.exhibition.DateEnd, new { @type="date", @class = "form-control datepicker" } )
        </div>
    </div>
    <br />
    @Html.HiddenFor(a => a.exhibition.OrigExhibitionName);
    @* <div class="row"> *@
    <input type="submit" value="Submit" class="btn btn-primary">
    <a asp-page="/Exhibitions" asp-area="" button type="button" class="btn btn-outline-danger m-1">Cancel</a>
}

</body>