@page
@model MembersModel
@{
    ViewData["Title"] = "See All Members";
    string[] TableHeaders = {"Member ID", "First Name", "Last Name", "Card Number", "Last Visit"};

}

<body>
    <legend>@ViewData["Title"]</legend>
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            <a asp-page="/AddMember" asp-area="" button type="button" class="btn btn-primary">Add a Member</a>
        </div>
    </div>
   
    <div class = "table">
        <table class ="table table-bordered table-hover">
            <thead>
                <tr>
                    @{
                        foreach(var head in TableHeaders)
                        {
                            <th>
                                @head
                            </th>
                        }    
                    }
                </tr>
            </thead>
            <tbody>
            @{
                if (Model != null)
                {
                    foreach(MembersOutput Data in MembersModel.members_output)
                    {
                        <tr>
                            <td>@Data.memberID</td>
                            <td>@Data.firstName</td>
                            <td>@Data.lastName</td>
                            <td>@Data.cardNumber</td>
                            <td>@Data.lastVisit</td>
                        </tr>
                    }
                }
            }
            </tbody>
        </table>
    </div>
</body>
