
@page
@model MemberRemoveModel
@{
    ViewData["Title"] = "Remove a Member";
    string[] TableHeaders = {"Member ID", "First Name", "Last Name", "Card Number", "Last Visit"};
}

<body>
    <form name = "MemberRemove" method = "post">
        <legend>@ViewData["Title"]</legend>
        <p><label for="item">Enter Member ID of Item to Delete:</label>
             @Html.TextBoxFor(i => i.memberID, new { @class = "form-control" })                 
        </p>

        <input type="submit" onclick="submitFunction()" value = "Remove Member"></input>
    </form>

    <div class = "table">
        <table class ="table table-bordered table-hover">
            <thead>
                <tr>
                    @{
                        foreach(var head in TableHeaders)
                        {
                            <th>
                                @head
                            </th>
                        }    
                    }
                </tr>
            </thead>
            <tbody>
            @{
                if (Model != null)
                {
                    foreach(MembersOutput Data in MemberRemoveModel.members_output)
                    {
                        <tr>
                            <td>@Data.memberID</td>
                            <td>@Data.firstName</td>
                            <td>@Data.lastName</td>
                            <td>@Data.cardNumber</td>
                            <td>@Data.lastVisit</td>
                        </tr>
                    }
                }
            }
            </tbody>
        </table>
    </div>
    <script>
        function submitFunction(){
            
        }
    </script>
</body>
