@page
@model PageAddModel

<!DOCTYPE html>
<html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href = "stylesheet.css">
        
    </head>
    <body>
        <div class="container">
        <section>
            <h1 class="center">Add a Piece</h1>
            <div class="error">@Model.output_msg</div>
            <form name = "AddPieceForm" method = "post">

                <p><label for="title">Title:</label>
                    @Html.TextBoxFor(t => t.title, new { @class = "form-control" })        
                </p>

                <p><label for="creator">Creator:</label>
                    @Html.TextBoxFor(t => t.creator, new { @class = "form-control" })        
                </p>

                <p><label for="desc">Description:</label>
                    @Html.TextBoxFor(t => t.desc, new { @class = "form-control" })        
                </p>

                <p><label for="dim">Dimensions:</label>
                    @Html.TextBoxFor(t => t.dim, new { @class = "form-control" })        
                </p>

                <p><label for="origin">Place of Origin:</label>
                    @Html.TextBoxFor(t => t.origin, new { @class = "form-control" })        
                </p>

                <p><label for="source">Source:</label>
                    @Html.TextBoxFor(t => t.source, new { @class = "form-control"})        
                </p>

                <p><label for="datemade">Date Created:</label>
                    @Html.TextBoxFor(t => t.makedate, new { @class = "form-control", @TextMode = "DateTime"})        
                </p>

                <p><label for="dateget">Date Acquired:</label>
                    @Html.TextBoxFor(t => t.getdate, new { @class = "form-control", @TextMode = "DateTime"})        
                </p>

                <p><label for="medium">Medium:</label>
                    @Html.DropDownListFor(t => t.medium, new SelectList(Model.media, "Value", "Text"), 
            htmlAttributes: new { @class = "form-control", @id = "MediumLabel" })       
                </p>

               <p><label for="collection">Collection:</label>
                    @Html.DropDownListFor(t => t.collections, new SelectList(Model.collections, "Value", "Text"), 
            htmlAttributes: new { @class = "form-control", @id = "CollectionName" })       
                </p>

                <button type="submit">Submit New Art Piece</button> 
            </form>
        </section>
    </div>
    </body>
</html>