@page
@model SellATicketModel

@{
    ViewData["Title"] = "Sell A Ticket";
}

<body>
    <form asp-controller="Home" asp-action="Index" method="post">
        <legend>Sell a Ticket</legend>
        <p><label for="accesstype">Select an Access Type:</label>
            @Html.DropDownListFor(t => Model.selectedAccess, new SelectList(Model.access, "Value", "Text"), 
            htmlAttributes: new { @class = "form-control", @id = "AccessType" })
            <a asp-page="/AccessTypeAdd" asp-area="" button type="button" class="btn btn-primary">Add an Access Type</a>
            <a asp-page="/AccessTypeEdit" asp-area="" button type="button" class="btn btn-primary">Edit an Access Type</a>
        </p>

        <p><label for="accesstype">Select a Ticket Type:</label>
            @Html.DropDownListFor(t => Model.selectedTicket, new SelectList(Model.ticket, "Value", "Text"), 
            htmlAttributes: new { @class = "form-control", @id = "TicketType" })
            <a asp-page="/TicketTypeAdd" asp-area="" button type="button" class="btn btn-primary">Add a Ticket Type</a>
            <a asp-page="/TicketTypeEdit" asp-area="" button type="button" class="btn btn-primary">Edit a Ticket Type</a>
        </p>        

        <p><label for="item">Price:</label>
            @Html.TextBoxFor(t => t.price, new { @class = "form-control" })
        </p>

        <p><label for="expirationdate">Ticket Expiration Date:</label>
            @Html.TextBoxFor(t => t.expirationDate, new { @type="date", @class = "form-control datepicker" })     
        </p>

        <p><label for="expirationdate">Sale Date:</label>
            @Html.TextBoxFor(t => t.date, new { @type="date", @class = "form-control datepicker" })     
        </p>
        
        <button type="submit">Complete Transaction</button>

        <p><a asp-page="/Transactions" asp-area="" button type="button" class="btn btn-primary">See all Transactions</a></p>
    </form>
</body>

