@page
@model TransactionsModel
@{
    ViewData["Title"] = "All Transactions";
    string[] TableHeaders = new string[]{"Transaction ID",
        "Item ID",
        "Item Label",
        "Date",
        "Price",
        "Is Ticket",
        "Ticket ID",
        "Expiration Date",
        "Access Type",
        "Ticket Type"
    };
}

<h1>@ViewData["Title"]</h1>

<body>
    <div class="container">
        <div class="col-md-6 col-md-offset-3">

            <a asp-page="/SellAnItem" asp-area="" button type="button" class="btn btn-primary">Sell an Item</a>
            <a asp-page="/SellATicket" asp-area="" button type="button" class="btn btn-primary">Sell a Ticket</a>
            <a asp-page="/TransactionsEdit" asp-area="" button type="button" class="btn btn-primary">Edit a Transaction</a>

        </div>
    </div>

    <div class = "table">
        <table class ="table table-bordered table-hover">
            <thead>
                <tr>
                    @{
                        foreach(var head in TableHeaders)
                        {
                            <th>
                                @head
                            </th>
                        }    
                    }
                </tr>
            </thead>
            <tbody>
            @{
                if (Model != null)
                {
                    foreach(TransactionsOutput Data in TransactionsModel.tr_output)
                    {
                        <tr>
                            <td>@Data.TransactionID</td>
                            <td>@Data.itemID</td>
                            <td>@Data.itemLabel</td>
                            <td>@Data.date</td>
                            <td>@Data.price</td>
                            <td>@Data.IsTicket</td>
                            <td>@Data.TicketID</td>
                            <td>@Data.expirationDate</td>
                            <td>@Data.accessType</td>
                            <td>@Data.ticketType</td>                               
                        </tr>
                    }
                }
            }
            </tbody>
        </table>
    </div>
</body>